.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 50px;
  font-size: 1.3em;
}

.btn {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 50px;
  font-size: 1.3em;
}

.btn-blue {
  background-color:#379EC1;
}

.btn-green {
  background-color:green;
}

.snapshot {
  text-align: center;
  img {
    max-width: 400px;
    max-height: 300px;
  }
}

.logo {
  width: 340px;
  height: 220px;
}
